@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 9;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
    cursor:context-menu;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.douyin{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;
    width: 400px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(7px);
    box-shadow: #ff0033;
}


#douyin{
    margin: auto; 
    padding-bottom: 0px;
    padding-top: 60px;
    height: 390px;
    width: 300px;
}

.douyin span{
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    font-family: STsong;
}

#douyinbtn {
    color: rgb(255, 255, 255);
    font-size: 14px;
}





#input-box {
	position: absolute;
	display: inline-block;
    left: 60px;
    margin: 9px;
}

#input {
	padding: 0 40px 0 20px;
	width: 210px;
	height: 40px;
	font-size: 16px;
    font-family: youyuan;
	border: 1px solid #eee;
	border-radius: 40px;
	background: #eee;
	transition: width .5s;
	transition-delay: .1s;

}

.search {
    position: absolute;
	width: 40px;
	height: 40px;
	line-height: 30px;
	padding: 0;
	color: #969696;
	background: #222;
	border-radius: 50%;
	cursor: pointer;
    margin-left: -40px;

}

#input:focus {
	width: 280px;
	outline: none;
	box-shadow: none;
    background-color: rgb(255, 210, 217);
}
	
/*.input:focus+.search {
	background-color: pink;
	color: #fff;
}*/

.introduction a{
    position: absolute;
    text-decoration: none;
    width: 70px;
	height: 40px;
    color: rgba(0, 0, 0, 0.742);
    background-color: #f4f5f6e8;
    top: 9px;
    right: 10px;
    display: flex;
	justify-content: center; 
	align-items: center;
    border-radius: 10px;
    transition: background-color .5s;
}
.introduction a:hover{
    color: rgb(0, 0, 0);
    background-color:#FFFFCC;

}
